<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js Project</title>
    <link href="styles.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">

      <fieldset>
        <legend>Looping</legend>
        <ul>
          <li v-for="character in characters">{{character}}</li>
        </ul>
        <ul>
          <li v-for="(student, index) in students"><b>{{index}}</b>). Name: <b>{{student.name}}</b>, Age: <b>{{student.age}}</b></li>
        </ul>
        <div v-for="student in students">
          <h4>Name: {{student.name}}</h4>
          <p>Age: {{student.age}}</p>
        </div>
        <template v-for="student in students"><!-- Looping without a real HTML element -->
          <h4>Name: {{student.name}}</h4>
          <p>Age: {{student.age}}</p>
        </template>
        <template v-for="student in students">
          <div v-for="(key, value) in student">
            <p>{{value}} - {{key}}</p>
          </div>
        </template>
      </fieldset>

      <fieldset>
        <legend>Conditionals</legend>
        <button v-on:click="error = !error">Toggle Error</button>
        <button v-on:click="success = !success">Toggle Success</button>
        <!-- removing from the DOM -->
        <!-- <p v-if="error">There has been an error.</p> 
        <p v-else-if="success">Succeeded.</p> -->
        <p v-show="error">There has been an error.</p> <!-- setting style="display: none" -->
        <p v-show="success">Succeeded.</p>
      </fieldset>

      <fieldset class="dynamic-css">
        <legend>Dynamic CSS Classes</legend>
        <div v-on:click="available = !available" v-bind:class="{red: true, blue: true, available: available}">
            <span>
              Click
            </span>
        </div>
        <button v-on:click="nearby = !nearby">Toggle Nearby</button>
        <button v-on:click="available = !available">Toggle Available</button>
        <div v-bind:class="compClasses">
          <span>Click</span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Computed Properties</legend>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <p>A = {{a}}</p>
        <p>B = {{b}}</p>
        <!--  Using methods -->
        <!-- <p>Age + A = {{addToA()}}</p>
        <p>Age + B = {{addToB()}}</p> -->
        <p>Age + A = {{addToA}}</p>
        <p>Age + B = {{addToB}}</p>
      </fieldset>

      <fieldset>
        <legend>Two-Way Data Binding</legend>
        <label>Name:</label>
        <input type="text" v-model="name" />
        <span>{{name}}</span>
        <label>Age:</label>
        <input type="text" v-model="age" />
        <span>{{age}}</span>
      </fieldset>

      <fieldset>
        <legend>Keyboard Events</legend>
        <label>Name:</label>
        <input type="text" v-on:keyup="logName" />
        <label>Age:</label>
        <input type="text" v-on:keyup.alt.enter="logAge" />
      </fieldset>

      <fieldset>
        <legend>Event Modifiers</legend> <!-- https://vuejs.org/v2/guide/events.html#Event-Modifiers -->
        <p>Age: {{age}}</p>
        <button v-on:click.once="age++">Add year</button>
        <button @click.once="age--">Subtract year</button>
        <a v-on:click.prevent="showAlert" href="https://www.google.com/">Google</a>
      </fieldset>
      
      <fieldset>
        <legend>Events</legend>
        <p>Age: {{age}}</p>
        <button v-on:click="age++">Add year</button>
        <button v-on:click="age--">Subtract year</button>
        <button v-on:click="add">Add year</button>
        <button v-on:click="subtract">Subtract year</button>
        <button v-on:click="addAge(1)">Add year</button>
        <button @click="subtractAge(1)">Subtract year</button>
        <button v-on:dblclick="addAge(10)">Add 10 years</button>
        <button @dblclick="subtractAge(10)">Subtract 10 years</button>
        <div id="canvas" v-on:mousemove="updateXY">{{x}}, {{y}}</div>
      </fieldset>

      <fieldset>
        <legend>Data Binding</legend>
        <a href="website">Google</a> <!-- Wrong -->
        <a href="{{website}}">Google</a> <!-- Wrong -->
        <a href="website">Google</a> <!-- Wrong -->
        <a v-bind:href="website">Google</a>
        <a :href="website">Google</a>
        <input type="text" value="John" /> 
        <input type="text" v-bind:value="name" />
        {{websiteTag}} <!-- Wrong -->
        <p v-html="websiteTag"></p>
      </fieldset>

      <fieldset>
        <legend>Data and Methods</legend>
        <p>{{ greet() }}</p>
        <p>{{ hello('World!') }}</p>
        <p>Name: {{ name }}</h1>
        <p>Job: {{ job }}</h1>
      </fieldset>

    </div>

    <fieldset>
      <legend>Component</legend>
      <div id="vue-app-one">
        <h2>{{title}}</h2>
        <greeting></greeting>
      </div>
      <div id="vue-app-two">
        <h2>{{title}}</h2>
        <greeting></greeting>
      </div>
    </fieldset>

    <fieldset>
      <legend>Multiple Vue Instances</legend>
      <div id="vue-app-one">
        <h2>{{title}}</h2>
        <p>{{greet}}</p>
      </div>
      <div id="vue-app-two">
        <h2>{{title}}</h2>
        <p>{{greet}}</p>
        <button v-on:click="changeTitle">Change App One Title</button>
      </div>
    </fieldset>

    {{ name }} <!-- Does not work as expected - out of vue-app selector. -->

    <script src="app.js"></script>
  </body>
</html>